<div class="row">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="table-responsive">
          <mtx-grid
            [data]="dataSource?.data"
            #supplierscontactsTable
            [columns]="displayedColumns"
            [showToolbar]="true"
            [toolbarTemplate]="toolbarButtons"
            [columnHideable]="columnHideable"
            [columnHideableChecked]="columnHideableChecked"
            [columnMovable]="columnMovable"
            (columnChange)="log($event)"
            [showColumnMenuButton]="true"
            [showColumnMenuHeader]="true"
            [columnMenuHeaderText]="'Show/Hide Columns'"
            [ngClass]="'table table-hover'"
            [pageSize]="10"
            [pageSizeOptions]="[10]"
            [loading]="isLoading"
            [cellTemplate]="{
              Action: actionTpl,
              workphone: workphoneTpl,
              cellphone: cellphoneTpl
            }"
            [rowClassFormatter]="rowClassFormatter"
          >
          </mtx-grid>

          <!-- Toolbar Template -->
          <ng-template #toolbarButtons>
            <label class="font-medium-3 d-inline-block toolbaritem">
              Total Contacts : <span>{{ total_supplierscontacts }}</span>
            </label>
            <div class="d-inline-block toolbaritem">
              <button
                *ngIf="
                  (user?.role === 'Admin' || user?.role === 'Manager') &&
                  current_supplier_id != 0
                "
                type="button"
                class="btn btn-sm btn-outline-primary mr-1 mb-1"
                [disabled]="user?.role !== 'Admin' && user?.role !== 'Manager'"
                (click)="
                  openDialog('Add', { supplier_id: current_supplier_id })
                "
              >
                Add Contact
              </button>
              <button
                type="button"
                class="btn btn-sm btn-outline-primary mr-1 mb-1"
                (click)="reset()"
              >
                Reset
              </button>
            </div>
            <fieldset class="d-inline-block toolbaritem">
              <input
                id="ngx-MultiPurposeFilter-ref"
                class="form-control form-action-right"
                type="text"
                placeholder="Filter ..."
                (keyup)="applyFilter($event)"
                [(ngModel)]="filter"
                #input
              />
            </fieldset>
          </ng-template>

          <!-- Action Column Template -->
          <ng-template
            #actionTpl
            let-suppliercontact
            let-index="index"
            let-col="colDef"
          >
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-sm btn-outline-info mr-1"
                (click)="
                  openDialog('edit', {
                    id: suppliercontact.id,
                    supplier_id: suppliercontact.supplier_id
                  })
                "
                *ngIf="user.role === 'Admin' || user?.role === 'Manager'"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-sm btn-outline-danger mr-1"
                (click)="openDialog('delete', { id: suppliercontact.id })"
                *ngIf="user.role === 'Admin'"
              >
                Delete
              </button>
            </div>
          </ng-template>

          <!-- Work Phone Column Template -->
          <ng-template
            #workphoneTpl
            let-suppliercontact
            let-index="index"
            let-col="colDef"
          >
            {{ suppliercontact.workphone | mask: "(000) 000-0000" }}
          </ng-template>

          <!-- Cell Phone Column Template -->
          <ng-template
            #cellphoneTpl
            let-suppliercontact
            let-index="index"
            let-col="colDef"
          >
            {{ suppliercontact.cellphone | mask: "(000) 000-0000" }}
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
