<div class="row">
  <div class="col-12">
    <div class="card-deck-wrapper">
      <div class="card-deck justify-content-center">
        <div class="col-lg-12 col-sm-12">
          <div class="card overflow-hidden">
            <app-sys-servers></app-sys-servers>
          </div>
        </div>
        <div class="col-lg-12 col-sm-12">
          <div class="card overflow-hidden">
            <app-sys-devices></app-sys-devices>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
