<div class="col-12">
  <div class="card-dialog">
    <div
      class="card-header cursor-move"
      cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      cdkDragHandle
    >
      <h4 mat-dialog-title class="card-title">
        {{ action.charAt(0).toUpperCase() + action.slice(1) }} Device for
        <small> {{ current_system_type }} System:</small>
      </h4>
    </div>
    <mat-dialog-content>
      <div class="card-content">
        <div class="card-body">
          <form [formGroup]="myForm">
            <div class="form-row">
              <!-- Top Section -->
              <div class="form-row col-12">
                <!-- Left Section -->
                <div class="col-md-6 col-sm-12">
                  <!-- NAME -->
                  <div class="col-sm-12 col-12">
                    <div class="form-group mb-2">
                      <label for="name">Name</label>
                      <input
                        type="text"
                        name="name"
                        placeholder=""
                        class="form-control"
                        formControlName="name"
                      />
                      <small
                        class="form-text text-muted danger"
                        *ngIf="myForm.controls['name'].hasError('required')"
                      >
                        required
                      </small>
                    </div>
                  </div>
                  <!-- BRAND -->
                  <div class="col-sm-12 col-12">
                    <div class="form-group" *ngIf="listOfBrands as brands">
                      <label for="brand_id">Brand</label>
                      <ng-select
                        #brand_id
                        [items]="brands"
                        bindLabel="brand"
                        bindValue="id"
                        formControlName="brand_id"
                        placeholder="Select brand"
                      >
                      </ng-select>
                      <small
                        class="form-text text-muted danger"
                        *ngIf="myForm.controls['brand_id'].hasError('required')"
                      >
                        required
                      </small>
                    </div>
                  </div>
                  <!-- DEVICE TYPE -->
                  <div class="col-sm-12 col-12">
                    <div
                      class="form-group"
                      *ngIf="listOfDeviceTypes as devicetypes"
                    >
                      <label for="device_type">Device Type</label>
                      <ng-select
                        #device_type
                        bindValue="devicetype"
                        [items]="devicetypes"
                        bindLabel="devicetype"
                        formControlName="device_type"
                        placeholder="Select Device Type"
                      >
                      </ng-select>
                      <small
                        class="form-text text-muted danger"
                        *ngIf="
                          myForm.controls['device_type'].hasError('required')
                        "
                      >
                        required
                      </small>
                    </div>
                  </div>
                  <!-- PART NUMBER / MODEL -->
                  <div class="col-sm-12 col-12">
                    <div
                      class="form-group mb-2"
                      *ngIf="listOfProducts as listofproducts"
                    >
                      <label for="product_id">Part Number</label>
                      <ng-select
                        #product_id
                        bindValue="id"
                        name="product_id"
                        bindLabel="partnumber"
                        [items]="listofproducts"
                        placeholder="select product"
                        formControlName="product_id"
                      ></ng-select>
                      <small
                        class="form-text text-muted danger"
                        *ngIf="
                          myForm.controls['product_id'].hasError('required')
                        "
                      >
                        required
                      </small>
                    </div>
                  </div>
                </div>
                <!-- Right Section -->
                <div class="col-md-6 col-sm-12">
                  <!-- SERIAL NUMBER -->
                  <div class="col-sm-12 col-12">
                    <div class="form-group mb-2">
                      <label for="serial_number">Serial Number</label>
                      <input
                        type="text"
                        name="serial_number"
                        placeholder=""
                        class="form-control"
                        formControlName="serial_number"
                        [value]="myForm.get('serial_number').value | uppercase"
                      />
                    </div>
                  </div>
                  <!-- FIRMWARE VERSION -->
                  <div class="col-sm-12 col-12">
                    <div class="form-group mb-2">
                      <label for="firmware_version">Firmware Ver.</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control"
                        formControlName="firmware_version"
                        [value]="
                          myForm.get('firmware_version').value | uppercase
                        "
                      />
                    </div>
                  </div>
                  <!-- DEVICE LOGIN -->
                  <div class="col-sm-12 col-12">
                    <div class="form-group mb-2">
                      <label for="username">Username</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control"
                        formControlName="username"
                      />
                    </div>
                  </div>
                  <!-- DEVICE PASSWORD -->
                  <div class="col-sm-12 col-12">
                    <div class="form-group mb-2">
                      <label for="password">Password</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control"
                        formControlName="password"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- MIDDLE Section -->
              <div class="form-row col-12">
                <!-- NIC -->
                <div class="col-sm-12 col-md-6 border rounded">
                  <!-- MAC -->
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <label for="nic_mac">MAC Address</label>
                      <input
                        type="text"
                        id="nic_mac"
                        placeholder=""
                        class="form-control form-control-sm"
                        formControlName="nic_mac"
                        [value]="myForm.get('nic_mac').value | uppercase"
                      />
                      <small
                        class="form-text text-muted danger"
                        *ngIf="myForm.controls['nic_mac'].hasError('pattern')"
                      >
                        Not valid MAC address
                      </small>
                      <small
                        class="form-text text-muted danger"
                        *ngIf="myForm.controls['nic_mac'].hasError('mac') || myForm.controls['nic_mac'].hasError('mask')"
                      >
                        Not valid MAC address
                      </small>
                    </div>
                  </div>
                  <!-- IP -->
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <label for="nic_ip">IP Address</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control form-control-sm"
                        formControlName="nic_ip"
                      />
                      <small
                        class="form-text text-muted danger"
                        *ngIf="myForm.controls['nic_ip'].hasError('ip')"
                      >
                        Not valid IP address
                      </small>
                    </div>
                  </div>
                  <!-- SUBNET -->
                  <div class="col-12">
                    <div
                      class="form-group"
                      *ngIf="listOfSubnetMask as subnetmask"
                    >
                      <label for="nic_subnet">Subnet Mask</label>
                      <ng-select
                        #nic_subnet
                        bindValue="subnetmask"
                        name="nic_subnet"
                        [items]="subnetmask"
                        bindLabel="subnetmask"
                        formControlName="nic_subnet"
                        placeholder=""
                      >
                      </ng-select>
                    </div>
                  </div>
                  <!-- GATEWAY -->
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <label for="nic_gateway">Gateway</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control form-control-sm"
                        formControlName="nic_gateway"
                      />
                    </div>
                  </div>
                </div>
                <!-- PORTS -->
                <div class="col-sm-12 col-md-6 border rounded">
                  <!-- SWITCH PORT -->
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <label for="nic_port">Switch Port</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control form-control-sm"
                        formControlName="nic_port"
                      />
                    </div>
                  </div>
                  <!-- LOCAL WEB PORT -->
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <label for="local_web_port">Local Web Port</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control form-control-sm"
                        formControlName="local_web_port"
                      />
                    </div>
                  </div>
                  <!-- REMOTE IP -->
                  <div class="col-sm-12 col-12">
                    <div class="form-group mb-2">
                      <label for="remote_ip">Remote IP</label>
                      <input
                        type="text"
                        name="remote_ip"
                        placeholder=""
                        class="form-control"
                        formControlName="remote_ip"
                      />
                    </div>
                  </div>
                  <!-- Remote WEB PORT -->
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <label for="remote_web_port">Remote Web Port</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control form-control-sm"
                        formControlName="remote_web_port"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- Antenna Link Section -->
              <div class="form-row col-12" *ngIf="">
                <!-- LINK NAME -->
                <div class="col-12">
                  <div class="form-group mb-2">
                    <label for="link_name">Link Name</label>
                    <input
                      type="text"
                      placeholder=""
                      class="form-control form-control-sm"
                      formControlName="link_name"
                    />
                  </div>
                </div>
                <!-- LINK PASSWORD -->
                <div class="col-12">
                  <div class="form-group mb-2">
                    <label for="link_password">Link Password</label>
                    <input
                      type="text"
                      placeholder=""
                      class="form-control form-control-sm"
                      formControlName="link_password"
                    />
                  </div>
                </div>
              </div>
              <!-- Bottom Section -->
              <div class="form-row col-12">
                <!-- LOCATION -->
                <div class="col-12">
                  <div class="form-group mb-2">
                    <label for="location">Location</label>
                    <input
                      type="text"
                      name="location"
                      placeholder=""
                      class="form-control"
                      formControlName="location"
                    />
                  </div>
                </div>
                <!-- NOTES -->
                <div class="col-12">
                  <div class="form-group mb-2">
                    <label for="notes">Notes</label>
                    <textarea
                      type="text"
                      placeholder=""
                      class="form-control form-control-lg"
                      formControlName="notes"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-dialog-content>
    <!-- Action Buttons -->
    <mat-dialog-actions class="d-flex justify-content-center">
      <div class="form-row">
        <!-- SAVE BUTTON -->
        <div class="col-6 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="myForm.invalid"
            (click)="Submit()"
          >
            <i class="ft-check-square mr-1"></i>Save
          </button>
        </div>
        <!-- CANCEL BUTTON -->
        <div class="col-6 d-flex justify-content-start">
          <button type="button" class="btn btn-secondary" (click)="Cancel()">
            <i class="ft-x mr-1"></i>Cancel
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </div>
</div>
