<div class="col-lg-12 col-12">
  <div class="card-dialog">
    <div
      class="card-header cursor-move"
      cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      cdkDragHandle
    >
      <h4 class="card-title">
        {{ selectedOrderTypeName || "" }} Adjustment Item Details:
      </h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <form [formGroup]="myForm">
          <div class="form-row" *ngIf="listOfProducts as listofproducts">
            <div class="col-md-12 col-12">
              <div class="form-group mb-2">
                <label for="product_id">Products</label>
                <ng-select
                  #product_id
                  placeholder="select product"
                  name="product_id"
                  formControlName="product_id"
                  [items]="listofproducts"
                  bindLabel="product"
                  bindValue="id"
                  [(ngModel)]="selected_product_id"
                ></ng-select>
                <small
                  class="form-text text-muted danger"
                  *ngIf="myForm.controls['product_id'].hasError('required')"
                >
                  Product is <strong>required</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12 col-12">
              <div class="form-group mb-2">
                <label for="old_qty">Old QTY</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="old_qty"
                  placeholder="Ex. QTY QTY"
                />
                <small
                  class="form-text text-muted danger"
                  *ngIf="myForm.controls['old_qty'].hasError('required')"
                >
                  OLD QTY is <strong>required</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12 col-12">
              <div class="form-group mb-2">
                <label for="new_qty">New QTY</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="new_qty"
                  placeholder="Ex. QTY QTY"
                />
                <small
                  class="form-text text-muted danger"
                  *ngIf="myForm.controls['new_qty'].hasError('required')"
                >
                  New QTY is <strong>required</strong>
                </small>
              </div>
            </div>
          </div>

          <div fxLayout="row nowrap" class="form-group">
            <div>
              <button
                type="button"
                class="btn btn-primary mr-2"
                [disabled]="myForm.invalid"
                (click)="submit()"
                *ngIf="myForm.value?.id === 0"
              >
                <i class="ft-check-square mr-1"></i>Save
              </button>
              <button
                type="button"
                class="btn btn-primary mr-2"
                [disabled]="myForm.invalid"
                (click)="submit()"
                *ngIf="myForm.value?.id !== 0 && action === 'edit'"
              >
                <i class="ft-check-square mr-1"></i>Save
              </button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button
                type="button"
                class="btn btn-secondary"
                (click)="Cancel()"
              >
                <i class="ft-x mr-1"></i>Cancel</button
              ><br />
              <!-- {{ invalidControls | json }} -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
