<!-- SERVER DETAILS -->
<div class="row col-12">
  <!-- Left Section -->
  <div class="col-md-6 col-sm-12">
    <h1>Server Details:</h1>
    <!-- GENERAL INFO -->
    <div class="card-text">
      <dl class="row col-sm-12">
        <dt class="col-sm-6">Name:</dt>
        <dd class="col-sm-6">Record</dd>
      </dl>
      <dl class="row">
        <div class="row col-sm-12">
          <dt class="col-sm-6">Brand:</dt>
          <dd class="col-sm-6">Record</dd>
        </div>
        <div class="row col-sm-12">
          <dt class="col-sm-6">Type:</dt>
          <dd class="col-sm-6">Record</dd>
        </div>
      </dl>
    </div>
  </div>
  <!-- Right Section -->
  <div class="col-6">
    <!-- OS / Software Section -->
    <div></div>
    <!-- Remote Access Section -->
    <div></div>
  </div>
  <!-- NICs Section -->
  <div class="col-12">
    <!-- NIC-0 iDRAC -->
    <div class="col-4"></div>
    <!-- NIC-1 CORPORATE -->
    <div class="col-4"></div>
    <!-- NIC-1 CAMERAS -->
    <div class="col-4"></div>
  </div>
</div>
<!-- DEVICE DETAILS -->
<div></div>
