<div class="row">
  <div class="col-12">
    <div class="card-deck-wrapper">
      <div class="card-deck justify-content-center">
        <div class="col-lg-5 col-sm-12">
          <div class="card overflow-hidden">
            <app-warehouses></app-warehouses>
          </div>
        </div>
        <div class="col-lg-7 col-sm-12">
          <div class="card overflow-hidden">
            <app-wh-orders></app-wh-orders>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card-deck-wrapper">
      <div class="card-deck justify-content-center">
        <div class="col-sm-12">
          <div class="card overflow-hidden">
            <app-wh-orders-details></app-wh-orders-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
