<div class="col-lg-12 col-12">
  <div class="card-dialog">
    <div
      class="card-header cursor-move"
      cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      cdkDragHandle
    >
      <h4 class="card-title">
        {{ action.charAt(0).toUpperCase() + action.slice(1) }} Warehouse:
      </h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <form [formGroup]="myForm">
          <div class="form-row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group mb-2">
                <label for="name">Name</label>
                <input
                  type="text"
                  placeholder=""
                  class="form-control"
                  formControlName="name"
                />
                <small
                  class="form-text text-muted danger"
                  *ngIf="myForm.controls['name'].hasError('required')"
                >
                  required
                </small>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group mb-2">
                <label for="street">Street</label>
                <input
                  type="text"
                  placeholder=""
                  class="form-control"
                  formControlName="street"
                  [value]="myForm.get('street').value | titlecase"
                />
                <small
                  class="form-text text-muted danger"
                  *ngIf="myForm.controls['street'].hasError('required')"
                >
                  required
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group mb-2">
                <label for="city">City</label>
                <input
                  type="text"
                  placeholder=""
                  class="form-control"
                  formControlName="city"
                  [value]="myForm.get('city').value | titlecase"
                />
                <small
                  class="form-text text-muted danger"
                  *ngIf="myForm.controls['city'].hasError('required')"
                >
                  required
                </small>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group mb-2">
                <label for="state">State</label>
                <input
                  type="text"
                  placeholder=""
                  class="form-control"
                  formControlName="state"
                  [value]="myForm.get('state').value | uppercase"
                  mask="SS"
                />
                <small
                  class="form-text text-muted danger"
                  *ngIf="myForm.controls['state'].hasError('required')"
                >
                  required
                </small>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group mb-2">
                <label for="postal">Postal Code</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="postal"
                  mask="00000"
                  placeholder=""
                />
                <small
                  class="form-text text-muted danger"
                  *ngIf="myForm.controls['postal'].hasError('required')"
                >
                  required
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6 d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-primary"
                [disabled]="myForm.invalid"
                (click)="Submit()"
              >
                <i class="ft-check-square mr-1"></i>Save
              </button>
            </div>
            <div class="col-6 d-flex justify-content-start">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="Cancel()"
              >
                <i class="ft-x mr-1"></i>Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
