<div class="table-responsive">
  <mtx-grid
    [data]="dataSource?.data"
    #stockTable
    [columns]="displayedColumns"
    [showToolbar]="true"
    [toolbarTemplate]="toolbarButtons"
    [columnHideable]="columnHideable"
    [columnHideableChecked]="columnHideableChecked"
    [columnMovable]="columnMovable"
    (columnChange)="log($event)"
    [showColumnMenuButton]="true"
    [showColumnMenuHeader]="true"
    [columnMenuHeaderText]="'Show/Hide Columns'"
    [ngClass]="'table table-hover'"
    [pageSize]="20"
    [pageSizeOptions]="[20]"
    [loading]="isLoading"
    [cellTemplate]="{}"
    [rowClassFormatter]="rowClassFormatter"
  >
  </mtx-grid>

  <!-- Toolbar Template -->
  <ng-template #toolbarButtons>
    <label class="font-medium-3 d-inline-block toolbaritem">
      Total Line Items : <span>{{ total_stock_items }}</span>
    </label>
    <div class="d-inline-block toolbaritem">
      <button
        type="button"
        class="btn btn-sm btn-outline-primary mr-1 mb-1"
        (click)="reset()"
      >
        Reset
      </button>
    </div>
    <fieldset class="d-inline-block toolbaritem">
      <input
        id="ngx-MultiPurposeFilter-ref"
        class="form-control form-action-right"
        type="text"
        placeholder="Filter ..."
        (keyup)="applyFilter($event)"
        [(ngModel)]="filter"
        #input
      />
    </fieldset>
  </ng-template>
</div>
